@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
}
